<nav>
  <ul>
    <li>

      <a routerLink="/reactiveForm">ReactiveForm</a> ||
      <a routerLink="/localSession">localSession</a> ||
      <a routerLink="/apiDemo"> API DEMO </a> ||
      <a routerLink="/stepperMenu"> STEPPER MENU </a> ||
      <a routerLink="/dateValidator"> Date Validator </a> ||
      <a routerLink="/localeCurd"> CURD OPERATION </a> ||
      <a routerLink="/jspdf"> JS-PDF </a> ||
      <a routerLink="/internetConnection">Check InterNet Connection </a> ||
      <a routerLink="/rxjs"> RXJS </a> ||
      <a routerLink="/parent"> Parent Component </a> ||
      <a routerLink="/child"> Child Component </a> ||
      <a routerLink="/sibling"> Sibling Component </a> ||
      <a routerLink="/reactiveformDemo"> reactiveformDemo </a> ||
      <a routerLink="/apidemo2"> API Demo2 </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>